<div class="row visible-xs hidden-sm hidden-md bg-lgray-e8ebf0">
    <div class="col-xs-12 pad-lr-0">
        <div id="carousel-featured" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators -ve-margin-bottom-30px">
                <li class="active" data-target="#carousel-featured" data-slide-to="0"></li>&nbsp;&nbsp;
                <li data-target="#carousel-example" data-slide-to="1"></li>&nbsp;&nbsp;
                <li data-target="#carousel-example" data-slide-to="2"></li>&nbsp;&nbsp;
                <li data-target="#carousel-example" data-slide-to="3"></li>&nbsp;&nbsp;
                <li data-target="#carousel-example" data-slide-to="4"></li>&nbsp;&nbsp;
                <li data-target="#carousel-example" data-slide-to="5"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row box-outside-shadow">
                        <div class="col-xs-6 no-pad">
                            <a data-ng-href="/m/product/{{list[0].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[0].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-xs-12 text-center grid-price-after no-pad-lr">
                                        RS. {{list[0].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[0].category != 'Rings' && list[0].category != 'Bangles' && list[0].category != 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-click="buyNow(list[0])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[0].category == 'Rings' || list[0].category == 'Bangles' || list[0].category == 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-href="/m/product/{{list[0].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 no-pad">
                            <a data-ng-href="/m/product/{{list[1].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[1].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-xs-12 text-center grid-price-after no-pad-lr">
                                        RS. {{list[1].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[1].category != 'Rings' && list[1].category != 'Bangles' && list[1].category != 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-click="buyNow(list[1])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[1].category == 'Rings' || list[1].category == 'Bangles' || list[1].category == 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-href="/m/product/{{list[1].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row box-outside-shadow">
                        <div class="col-xs-6 no-pad">
                            <a data-ng-href="/m/product/{{list[2].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[2].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-xs-12 text-center grid-price-after no-pad-lr">
                                        RS. {{list[2].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[2].category != 'Rings' && list[2].category != 'Bangles' && list[2].category != 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-click="buyNow(list[2])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[2].category == 'Rings' || list[2].category == 'Bangles' || list[2].category == 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-href="/m/product/{{list[2].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 no-pad">
                            <a data-ng-href="/m/product/{{list[3].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[3].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-xs-12 text-center grid-price-after no-pad-lr">
                                        RS. {{list[3].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[3].category != 'Rings' && list[3].category != 'Bangles' && list[3].category != 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-click="buyNow(list[3])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[3].category == 'Rings' || list[3].category == 'Bangles' || list[3].category == 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-href="/m/product/{{list[3].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row box-outside-shadow">
                        <div class="col-xs-6 no-pad">
                            <a data-ng-href="/m/product/{{list[4].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[4].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-xs-12 text-center grid-price-after no-pad-lr">
                                        RS. {{list[4].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[4].category != 'Rings' && list[4].category != 'Bangles' && list[4].category != 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-click="buyNow(list[4])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[4].category == 'Rings' || list[4].category == 'Bangles' || list[4].category == 'Bracelets'">
                                        <a class="buy-now-featured" ddata-ng-href="/m/product/{{list[4].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 no-pad">
                            <a data-ng-href="/m/product/{{list[5].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[5].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-xs-12 text-center grid-price-after no-pad-lr">
                                        RS. {{list[5].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[5].category != 'Rings' && list[5].category != 'Bangles' && list[5].category != 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-click="buyNow(list[5])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[5].category == 'Rings' || list[5].category == 'Bangles' || list[5].category == 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-href="/m/product/{{list[5].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row box-outside-shadow">
                        <div class="col-xs-6 no-pad">
                            <a data-ng-href="/m/product/{{list[6].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[6].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-xs-12 text-center grid-price-after no-pad-lr">
                                        RS. {{list[6].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[6].category != 'Rings' && list[6].category != 'Bangles' && list[6].category != 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-click="buyNow(list[6])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[6].category == 'Rings' || list[6].category == 'Bangles' || list[6].category == 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-href="/m/product/{{list[6].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 no-pad">
                            <a data-ng-href="/m/product/{{list[7].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[7].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-xs-12 text-center grid-price-after no-pad-lr">
                                        RS. {{list[7].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[7].category != 'Rings' && list[7].category != 'Bangles' && list[7].category != 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-click="buyNow(list[7])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[7].category == 'Rings' || list[7].category == 'Bangles' || list[7].category == 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-href="/m/product/{{list[7].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row box-outside-shadow">
                        <div class="col-xs-6 no-pad">
                            <a data-ng-href="/m/product/{{list[8].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[8].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-xs-12 text-center grid-price-after no-pad-lr">
                                        RS. {{list[8].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[8].category != 'Rings' && list[8].category != 'Bangles' && list[8].category != 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-click="buyNow(list[8])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[8].category == 'Rings' || list[8].category == 'Bangles' || list[8].category == 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-href="/m/product/{{list[8].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 no-pad">
                            <a data-ng-href="/m/product/{{list[9].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[9].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-xs-12 text-center grid-price-after no-pad-lr">
                                        RS. {{list[9].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[9].category != 'Rings' && list[9].category != 'Bangles' && list[9].category != 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-click="buyNow(list[9])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[9].category == 'Rings' || list[9].category == 'Bangles' || list[9].category == 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-href="/m/product/{{list[9].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row box-outside-shadow">
                        <div class="col-xs-6 no-pad">
                            <a data-ng-href="/m/product/{{list[10].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[10].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-xs-12 text-center grid-price-after no-pad-lr">
                                        RS. {{list[10].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[10].category != 'Rings' && list[10].category != 'Bangles' && list[10].category != 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-click="buyNow(list[10])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[10].category == 'Rings' || list[10].category == 'Bangles' || list[10].category == 'Bracelets'">
                                        <a class="buy-now-featured" ddata-ng-href="/m/product/{{list[10].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 no-pad">
                            <a data-ng-href="/m/product/{{list[11].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[11].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-xs-12 text-center grid-price-after no-pad-lr">
                                        RS. {{list[11].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[11].category != 'Rings' && list[11].category != 'Bangles' && list[11].category != 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-click="buyNow(list[11])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-xs-12 no-pad text-center" ng-if="list[11].category == 'Rings' || list[11].category == 'Bangles' || list[11].category == 'Bracelets'">
                                        <a class="buy-now-featured" data-ng-href="/m/product/{{list[11].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row visible-sm visible-md hidden-xs">
    <div class="col-xs-12 bg-lgray-e8ebf0 pad-lr-0">
        <div id="carousel-featured-sm" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators -ve-margin-bottom-50px">
                <li class="active" data-target="#carousel-featured-sm" data-slide-to="0"></li>&nbsp;&nbsp;
                <li data-target="#carousel-example" data-slide-to="1"></li>&nbsp;&nbsp;
                <li data-target="#carousel-example" data-slide-to="2"></li>&nbsp;&nbsp;
                <li data-target="#carousel-example" data-slide-to="3"></li>&nbsp;&nbsp;
                <li data-target="#carousel-example" data-slide-to="4"></li>&nbsp;&nbsp;
                <li data-target="#carousel-example" data-slide-to="5"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row box-outside-shadow">
                        <div class="col-sm-6 no-pad">
                            <a data-ng-href="/m/product/{{list[0].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[0].VC_SKU}}-t.jpg" class="carousel-img img-responsive" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-sm-12 text-center grid-price-after-sm">
                                        RS. {{list[0].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[0].category != 'Rings' && list[0].category != 'Bangles' && list[0].category != 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-click="buyNow(list[0])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[0].category == 'Rings' || list[0].category == 'Bangles' || list[0].category == 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-href="/m/product/{{list[0].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 no-pad">
                            <a data-ng-href="/m/product/{{list[1].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[1].VC_SKU}}-t.jpg" class="carousel-img img-responsive" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-sm-12 text-center grid-price-after-sm">
                                        RS. {{list[1].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[1].category != 'Rings' && list[1].category != 'Bangles' && list[1].category != 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-click="buyNow(list[1])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[1].category == 'Rings' || list[1].category == 'Bangles' || list[1].category == 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-href="/m/product/{{list[1].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row box-outside-shadow">
                        <div class="col-sm-6 no-pad">
                            <a data-ng-href="/m/product/{{list[2].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[2].VC_SKU}}-t.jpg" class="carousel-img img-responsive" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-sm-12 text-center grid-price-after-sm">
                                        RS. {{list[2].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[2].category != 'Rings' && list[2].category != 'Bangles' && list[2].category != 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-click="buyNow(list[2])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[2].category == 'Rings' || list[2].category == 'Bangles' || list[2].category == 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-href="/m/product/{{list[2].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 no-pad">
                            <a data-ng-href="/m/product/{{list[3].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[3].VC_SKU}}-t.jpg" class="carousel-img img-responsive" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-sm-12 text-center grid-price-after-sm">
                                        RS. {{list[3].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[3].category != 'Rings' && list[3].category != 'Bangles' && list[3].category != 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-click="buyNow(list[3])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[3].category == 'Rings' || list[3].category == 'Bangles' || list[3].category == 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-href="/m/product/{{list[3].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row box-outside-shadow">
                        <div class="col-sm-6 no-pad">
                            <a data-ng-href="/m/product/{{list[4].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[4].VC_SKU}}-t.jpg" class="carousel-img img-responsive" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-sm-12 text-center grid-price-after-sm">
                                        RS. {{list[4].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[4].category != 'Rings' && list[4].category != 'Bangles' && list[4].category != 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-click="buyNow(list[4])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[4].category == 'Rings' || list[4].category == 'Bangles' || list[4].category == 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-href="/m/product/{{list[4].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 no-pad">
                            <a data-ng-href="/m/product/{{list[5].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[5].VC_SKU}}-t.jpg" class="carousel-img img-responsive" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-sm-12 text-center grid-price-after-sm">
                                        RS. {{list[5].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[5].category != 'Rings' && list[5].category != 'Bangles' && list[5].category != 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-click="buyNow(list[5])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[5].category == 'Rings' || list[5].category == 'Bangles' || list[5].category == 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-href="/m/product/{{list[5].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row box-outside-shadow">
                        <div class="col-sm-6 no-pad">
                            <a data-ng-href="/m/product/{{list[6].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[6].VC_SKU}}-t.jpg" class="carousel-img img-responsive" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-sm-12 text-center grid-price-after-sm">
                                        RS. {{list[6].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[6].category != 'Rings' && list[6].category != 'Bangles' && list[6].category != 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-click="buyNow(list[6])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[6].category == 'Rings' || list[6].category == 'Bangles' || list[6].category == 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-href="/m/product/{{list[6].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 no-pad">
                            <a data-ng-href="/m/product/{{list[7].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[7].VC_SKU}}-t.jpg" class="carousel-img img-responsive" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-sm-12 text-center grid-price-after-sm">
                                        RS. {{list[7].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[7].category != 'Rings' && list[7].category != 'Bangles' && list[7].category != 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-click="buyNow(list[7])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[7].category == 'Rings' || list[7].category == 'Bangles' || list[7].category == 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-href="/m/product/{{list[7].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row box-outside-shadow">
                        <div class="col-sm-6 no-pad">
                            <a data-ng-href="/m/product/{{list[8].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[8].VC_SKU}}-t.jpg" class="carousel-img img-responsive" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-sm-12 text-center grid-price-after-sm">
                                        RS. {{list[8].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[8].category != 'Rings' && list[8].category != 'Bangles' && list[8].category != 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-click="buyNow(list[8])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[8].category == 'Rings' || list[8].category == 'Bangles' || list[8].category == 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-href="/m/product/{{list[8].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 no-pad">
                            <a data-ng-href="/m/product/{{list[9].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[9].VC_SKU}}-t.jpg" class="carousel-img img-responsive" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-sm-12 text-center grid-price-after-sm">
                                        RS. {{list[9].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[9].category != 'Rings' && list[9].category != 'Bangles' && list[9].category != 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-click="buyNow(list[9])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[9].category == 'Rings' || list[9].category == 'Bangles' || list[9].category == 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-href="/m/product/{{list[9].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row box-outside-shadow">
                        <div class="col-sm-6 no-pad">
                            <a data-ng-href="/m/product/{{list[10].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[10].VC_SKU}}-t.jpg" class="carousel-img img-responsive" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-sm-12 text-center grid-price-after-sm">
                                        RS. {{list[10].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[10].category != 'Rings' && list[10].category != 'Bangles' && list[10].category != 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-click="buyNow(list[10])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[10].category == 'Rings' || list[10].category == 'Bangles' || list[10].category == 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-href="/m/product/{{list[10].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 no-pad">
                            <a data-ng-href="/m/product/{{list[11].urlslug}}.html" target="_self">
                                <div class="product_image">
                                    <img data-ng-src="/images/products-v2/{{list[11].VC_SKU}}-t.jpg" class="carousel-img img-responsive" />
                                </div>
                                <div class="row bg-white">
                                    <div class="col-sm-12 text-center grid-price-after-sm">
                                        RS. {{list[11].price_after_discount | INR}}
                                    </div>
                                </div>
                                <div class="row pad-b-30 pad-t-20 bg-white">
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[11].category != 'Rings' && list[11].category != 'Bangles' && list[11].category != 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-click="buyNow(list[11])"> 
             Buy Now 
          </a>
                                    </div>
                                    <div class="col-sm-12 no-pad text-center" ng-if="list[11].category == 'Rings' || list[11].category == 'Bangles' || list[11].category == 'Bracelets'">
                                        <a class="buy-now-featured-sm" data-ng-href="/m/product/{{list[11].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".carousel").swiperight(function() {
            $(this).carousel('prev');
        });
        $(".carousel").swipeleft(function() {
            $(this).carousel('next');
        });
    });
</script>