<!DOCTYPE html>
<html ng-app="vivoLookbook" lang="en">
<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Vivo">
    <link rel="icon" href="/images/icons/favico.png" type="image/x-icon" />
    <title>$title</title>
    <meta name="keywords" content="$meta_keywords" >
    <meta name="description" content="$meta_description" />
    <meta name="robots" content="$meta_robots" >
    <meta property="og:url" content="$og_url" />  
    <meta property="og:description" content="$og_description" />
    <meta property="og:title" content="$og_title" />
    <meta property="og:type" content="$og_type" />
    <meta property="og:image" content="$og_image" />
    <link rel="canonical" href="$canurl" />
    <!-- SEO -->
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="google-site-verification" content="d29imIOMXVw4oDrvX0W26H7Dg3_nAHDi75mhXZ5Wpc4" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#E62739">
    <meta name="msapplication-navbutton-color" content="#E62739">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/css/jquery.simplyscroll.css" media="all" type="text/css">
    <link type="text/css" href="/css/magnific-popup.css" media="all" />
    <link href="/css/angular.rangeSlider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- menu css-->
    <link rel="stylesheet" type="text/css" href="/m-css/component.css" />
    <!--END of menu css-->
    <!--For full screen product image view-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/m-css/style.css">
    <style>
        body {
            background-color: #e8ebf0 !important;
        }
    </style>
    <script>
        var getUrlParameter=function getUrlParameter(sParam){var sPageURL=decodeURIComponent(window.location.search.substring(1)),sURLVariables=sPageURL.split('&'),sParameterName,i;for(i=0;i<sURLVariables.length;i++){sParameterName=sURLVariables[i].split('=');if(sParameterName[0]===sParam){return sParameterName[1]===undefined?!0:sParameterName[1]}}};var w=window.innerWidth;if(w>1024)
        {if(window.location.search.indexOf('utm_campaign')>-1)
        {var utm_campaign=getUrlParameter('utm_campaign');if(utm_campaign.length)
        {var utm_source=getUrlParameter('utm_source');var utm_medium=getUrlParameter('utm_medium');if(document.location.href.indexOf("/m/")!==-1){document.location=document.location.pathname.replace("/m","")+"?utm_campaign="+utm_campaign+"&utm_source="+utm_source+"&utm_medium="+utm_medium}}
        else{if(document.location.href.indexOf("/m/")!==-1){document.location=document.location.pathname.replace("/m","")}}}
        else{if(document.location.href.indexOf("/m/")!==-1){document.location=document.location.pathname.replace("/m","")}}}
    </script>  
    <script>
        (function(i,s,o,g,r,a,m){i.GoogleAnalyticsObject=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-67690535-1','auto');ga('send','pageview')
    </script>
</head>
<body id="cont" data-ng-controller='lookBookArticleCtrl' ng-cloak>
    <vivo-header></vivo-header>
    <div class="row">
        <div class="container m-b-15">
            <div class="row pad-t-20">
                <div class="row lookbook-category-text-sm">
                    <div class="col-xs-12 no-pad-lr">
                        <div class="row">
                            <div class="col-xs-5 col-sm-3 text-left no-pad-lr pad-t-4 r701-pad-t-8">
                                <span class="theme-text t13 r701-t18">{{list.category}}</span>
                            </div>
                            <div class="col-xs-4 col-sm-7 text-left no-pad-lr pad-t-4 r701-pad-t-8">
                                <span class="theme-text t13 r701-t18">
                                    {{list.created_at | dateToISO | date:'dd MMMM'}}
                                </span>
                            </div>
                            <div class="col-xs-3 col-sm-2 text-right pad-lr-0">
                                <a data-ng-href="{{prevUrl}}" target="_self" class="pad-r-30 inline-block t28 r701-t34 theme-text-special"> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
                                <a data-ng-href="{{nextUrl}}" target="_self" class="pad-l-10 inline-block t28 r701-t34 theme-text-special"> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 no-pad-lr article-title-sm">
                    <h1 class="h2">{{list.title}}</h1>
                </div>
            </div>
            <div class="row pad-b-20">
                <div class="col-sm-12 theme-text t13 no-pad">
                    <p data-ng-bind-html='list.lb_short_description' class="exclude m-0 pad-t-10" data-ng-if="!readMore">
                    </p>
                    <div data-ng-if="readMore">
                        <p data-ng-bind-html='list.lb_long_description' class="exclude m-0 pad-t-10">
                        </p>
                    </div>
                    <div data-ng-click='toggleReadMore()'>
                        <a class="theme-text-special bold">
                            {{readMore?'read less':'read more'}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 no-pad">
                    <img class="img-responsive w-full" data-ng-src="/images/lookbook/blogs/{{list.banner_img}}.jpg" alt="{{list.banner_img}}">
                </div>
            </div>
            <section>
            <div class="row">
                <div class="col-xs-12 no-pad-lr">
                    <h2 class="hr hr-reverse"><span class="bg-lgray-e8ebf0">SIMILAR LOOKS</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 no-pad-lr">
                    <div id="carousel-example" class="carousel slide box-outside-shadow" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row hidden-sm hidden-md visible-xs box-outside-shadow">
                                    <div class="col-xs-6 no-pad">
                                        <a data-ng-href="/m/product/{{slist[0].urlslug}}.html" target="_self">
                                            <div class="product_image">
                                                <img data-ng-src="/images/products-v2/{{slist[0].VC_SKU}}-1.jpg" class="img-responsive" alt="{{slist[0].title}}">
                                            </div>
                                            <div class="row pad-b-30 pad-t-20 bg-white">
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[0].category != 'Rings' && slist[0].category != 'Bangles' && slist[0].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-click="buyNow(slist[0])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[0].category == 'Rings' || slist[0].category == 'Bangles' || slist[0].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-href="/m/product/{{slist[0].urlslug}}.html" target="_self"> 
            Buy Now 
        </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xs-6 no-pad">
                                        <a data-ng-href="/m/product/{{slist[1].urlslug}}.html" target="_self">
                                            <div class="product_image">
                                                <img data-ng-src="/images/products-v2/{{slist[1].VC_SKU}}-1.jpg" class="img-responsive" alt="{{slist[1].title}}">
                                            </div>
                                            <div class="row pad-b-30 pad-t-20 bg-white">
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[1].category != 'Rings' && slist[1].category != 'Bangles' && slist[1].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-click="buyNow(slist[1])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[1].category == 'Rings' || slist[1].category == 'Bangles' || slist[1].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-href="/m/product/{{slist[1].urlslug}}.html" target="_self"> 
            Buy Now 
        </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row hidden-xs visible-sm visible-md box-outside-shadow">
                                    <div class="col-sm-6 no-pad">
                                        <a data-ng-href="/m/product/{{slist[0].urlslug}}.html" target="_self">
                                            <div class="product_image">
                                                <img data-ng-src="/images/products-v2/{{slist[0].VC_SKU}}-1.jpg" class="carousel-img" alt="{{slist[0].title}}">
                                            </div>
                                            <div class="row pad-b-20 bg-white">
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[0].category != 'Rings' && slist[0].category != 'Bangles' && slist[0].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-click="buyNow(slist[0])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[0].category == 'Rings' || slist[0].category == 'Bangles' || slist[0].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-href="/m/product/{{slist[0].urlslug}}.html" target="_self"> 
            Buy Now 
        </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xs-6 no-pad">
                                        <a data-ng-href="/m/product/{{slist[1].urlslug}}.html" target="_self">
                                            <div class="product_image">
                                                <img data-ng-src="/images/products-v2/{{slist[1].VC_SKU}}-1.jpg" class="carousel-img" alt="{{slist[1].title}}">
                                            </div>
                                            <div class="row pad-b-20 bg-white">
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[1].category != 'Rings' && slist[1].category != 'Bangles' && slist[1].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-click="buyNow(slist[1])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[1].category == 'Rings' || slist[1].category == 'Bangles' || slist[1].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-href="/m/product/{{slist[1].urlslug}}.html" target="_self"> 
            Buy Now 
        </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row hidden-sm hidden-md visible-xs box-outside-shadow">
                                    <div class="col-xs-6 no-pad">
                                        <a data-ng-href="/m/product/{{slist[2].urlslug}}.html" target="_self">
                                            <div class="product_image">
                                                <img data-ng-src="/images/products-v2/{{slist[2].VC_SKU}}-1.jpg" class="img-responsive" alt="{{slist[2].title}}">
                                            </div>
                                            <div class="row pad-b-30 pad-t-20 bg-white">
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[2].category != 'Rings' && slist[2].category != 'Bangles' && slist[2].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-click="buyNow(slist[2])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[2].category == 'Rings' || slist[2].category == 'Bangles' || slist[2].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-href="/m/product/{{slist[2].urlslug}}.html" target="_self"> 
            Buy Now 
        </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xs-6 no-pad">
                                        <a data-ng-href="/m/product/{{slist[3].urlslug}}.html" target="_self">
                                            <div class="product_image">
                                                <img data-ng-src="/images/products-v2/{{slist[3].VC_SKU}}-1.jpg" class="img-responsive" alt="{{slist[3].title}}">
                                            </div>
                                            <div class="row pad-b-30 pad-t-20 bg-white">
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[3].category != 'Rings' && slist[3].category != 'Bangles' && slist[3].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-click="buyNow(slist[3])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[3].category == 'Rings' || slist[3].category == 'Bangles' || slist[3].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-href="/m/product/{{slist[3].urlslug}}.html" target="_self">
            Buy Now 
        </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row hidden-xs visible-sm visible-md box-outside-shadow">
                                    <div class="col-sm-6 no-pad">
                                        <a data-ng-href="/m/product/{{slist[2].urlslug}}.html" target="_self">
                                            <div class="product_image">
                                                <img data-ng-src="/images/products-v2/{{slist[2].VC_SKU}}-1.jpg" class="carousel-img" alt="{{slist[2].title}}">
                                            </div>
                                            <div class="row pad-b-20 bg-white">
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[2].category != 'Rings' && slist[2].category != 'Bangles' && slist[2].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-click="buyNow(slist[2])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[2].category == 'Rings' || slist[2].category == 'Bangles' || slist[2].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-href="/m/product/{{slist[2].urlslug}}.html" target="_self"> 
                                                        Buy Now 
                                                    </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xs-6 no-pad">
                                        <a data-ng-href="/m/product/{{slist[3].urlslug}}.html" target="_self">
                                            <div class="product_image">
                                                <img data-ng-src="/images/products-v2/{{slist[3].VC_SKU}}-1.jpg" class="carousel-img" alt="{{slist[3].title}}">
                                            </div>
                                            <div class="row pad-b-20 bg-white">
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[3].category != 'Rings' && slist[3].category != 'Bangles' && slist[3].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-click="buyNow(slist[3])"> 
                                                    Buy Now 
                                                </a>
                                                </div>
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[3].category == 'Rings' || slist[3].category == 'Bangles' || slist[3].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-href="/m/product/{{slist[3].urlslug}}.html" target="_self"> 
                                                        Buy Now 
                                                    </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-xs-12 no-pad-lr">
                    <h2 class="hr hr-reverse"><span class="bg-lgray-e8ebf0">RELATED STORIES</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 no-pad-l pad-r-5">
                    <a data-ng-href="/m/lookbook/{{related[0].urlslug}}.html" target="_self">
                        <div class="row box-outside-shadow">
                            <div class="col-xs-12 pad-5 bg-white">
                                <h3 class="exclude m-tb-10 text-limit">
                                    {{related[0].title}}
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 no-pad-lr">
                                    <img data-ng-src="/images/lookbook/blogs/{{related[0].banner_img}}.jpg" alt="{{related[0].banner_img}}">
                                </div>
                            </div>
                            <div class="row bg-white">
                                <div class="col-xs-12 pad-15">
                                    <div class="col-xs-6 pad-lr-5">
                                        <span class="pull-left theme-text t13">{{related[0].category}}</span>
                                    </div>
                                    <div class="col-xs-6 pad-lr-5">
                                        <span class="pull-right theme-text t13">
                                        {{related[0].created_at | dateToISO | date:'dd MMMM'}}
                                    </span>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 no-pad-r pad-l-5">
                    <a data-ng-href="/m/lookbook/{{related[1].urlslug}}.html" target="_self">
                        <div class="row box-outside-shadow">
                            <div class="col-xs-12 pad-5 bg-white">
                                <h3 class="exclude m-tb-10 text-limit">
                                    {{related[1].title}}
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 no-pad-lr">
                                    <img data-ng-src="/images/lookbook/blogs/{{related[1].banner_img}}.jpg" alt="{{related[1].banner_img}}">
                                </div>
                            </div>
                            <div class="row bg-white">                                
                                <div class="col-xs-12 pad-15">
                                    <div class="col-xs-6 pad-lr-5">
                                        <span class="pull-left theme-text t13">{{related[1].category}}</span>
                                    </div>
                                    <div class="col-xs-6 pad-lr-5">
                                        <span class="pull-right theme-text t13">
                                            {{related[1].created_at | dateToISO | date:'dd MMMM'}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        </div>
    </div>
    <vivo-footer></vivo-footer>
    <script src="/js/jquery.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/js/jquery.simplyscroll.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/satellizer.min.js"></script>
    <script src="/js/angular.rangeSlider.js"></script>
    <script src="/js/select.js"></script>
    <script src="/js/toaster.js"></script>
    <script src="/js/angular-google-plus.min.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="/js/notify.min.js"></script>
    <!--For loading list,splist & search items(pagination)-->
    <script src="/js/taggedInfiniteScroll.js"></script>
    <!--END of pagination script-->
    <!--For file upload-->
    <script src="/js/angular-file-upload.min.js"></script>
    <!--End scripts for file upload-->
    <script src="/m-js/modules/vivoCommon.js"></script>
    <script src="/m-js/modules/vivoLookbook.js"></script>
    <script src="/app/data.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!--Script for carousel touch swipe-->
    <script>
        $(document).bind('mobileinit', function() {
            $.mobile.changePage.defaults.changeHash = false;
            $.mobile.hashListeningEnabled = false;
            $.mobile.pushStateEnabled = false;
        });
    </script>
    <script src="/js/jquery.mobile-1.4.5.min.js"></script>
    <!--END of Script for carousel touch swipe-->
    <!--To prevent display of loading text while page loads-->
    <script>
        $(document).ready(function() {
            $(".ui-loader").hide();
            $(".carousel").swiperight(function() {
                $(this).carousel('prev');
            });
            $(".carousel").swipeleft(function() {
                $(this).carousel('next');
            });
        });
    </script>
    <!--END of loading text display prevention-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/device-router.js"></script>
    <!--Full screen product image view js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <!--menu-->
    <script src="/m-js/modernizr.custom.js"></script>
    <script src="/m-js/jquery.dlmenu.js"></script>
    <!--END of menu-->    
    <!-- Facebook Pixel Code -->
    <script>
        !function(e,t,n,c,o,a,f){e.fbq||(o=e.fbq=function(){o.callMethod?o.callMethod.apply(o,arguments):o.queue.push(arguments)},e._fbq||(e._fbq=o),o.push=o,o.loaded=!0,o.version="2.0",o.queue=[],(a=t.createElement(n)).async=!0,a.src="https://connect.facebook.net/en_US/fbevents.js",(f=t.getElementsByTagName(n)[0]).parentNode.insertBefore(a,f))}(window,document,"script"),fbq("init","293278664418362"),fbq("track","PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=293278664418362&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->    
    <!--Start of Tawk.to Script-->
    <script>
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function() {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/59198f0664f23d19a89b22bb/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- onesignal start   -->
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(["init", {
            appId: "07f1f127-398a-4956-abf1-3d026ccd94d2",
            autoRegister: true,
            notifyButton: {
                enable: false /* Set to false to hide */
            }
        }]);
    </script>
    <!-- onesignal end   -->    
</body>
</html>