<!DOCTYPE html>
<html ng-app="vivoLookbook" lang="en">
<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Vivo">
    <link rel="icon" href="/images/icons/favico.png" type="image/x-icon" />
    <meta property="og:url" content="https://www.vivocarat.com/lookbook" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Lookbook - The Style Guide | VivoCarat" />
    <meta property="og:description" content="Browse the latest celebrity fashion trends, looks and style inspirations. Buy the treading jewellery based on our recommendations." />
    <meta property="og:image" content="https://www.vivocarat.com/images/about-us/vivo-on-the-go.png" />
    <title>Lookbook - The Style Guide | VivoCarat</title>
    <meta name="keywords" content="jewellery lookbook,trends" />
    <meta name="description" content="Browse the latest celebrity fashion trends, looks and style inspirations. Buy the treading jewellery based on our recommendations." />
    <link rel="canonical" href="https://www.vivocarat.com/lookbook" />
    <!-- SEO -->
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="google-site-verification" content="d29imIOMXVw4oDrvX0W26H7Dg3_nAHDi75mhXZ5Wpc4" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#E62739">
    <meta name="msapplication-navbutton-color" content="#E62739">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/css/jquery.simplyscroll.css" media="all" type="text/css">
    <link type="text/css" href="/css/magnific-popup.css" media="all" />
    <link href="/css/angular.rangeSlider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- menu css-->
    <link rel="stylesheet" type="text/css" href="/m-css/component.css" />
    <!--END of menu css-->
    <!--For full screen product image view-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/m-css/style.css">
    <style>
        body {
            background-color: #e8ebf0 !important;
        }     
        .odd-pad {
            padding-left: 5px !important;
            padding-right: 0px !important;
        }        
        .even-pad {
            padding-right: 5px !important;
            padding-left: 0px !important;
        }
    </style>    
    <script>
        var getUrlParameter=function getUrlParameter(sParam){var sPageURL=decodeURIComponent(window.location.search.substring(1)),sURLVariables=sPageURL.split('&'),sParameterName,i;for(i=0;i<sURLVariables.length;i++){sParameterName=sURLVariables[i].split('=');if(sParameterName[0]===sParam){return sParameterName[1]===undefined?!0:sParameterName[1]}}};var w=window.innerWidth;if(w>1024)
        {if(window.location.search.indexOf('utm_campaign')>-1)
        {var utm_campaign=getUrlParameter('utm_campaign');if(utm_campaign.length)
        {var utm_source=getUrlParameter('utm_source');var utm_medium=getUrlParameter('utm_medium');if(document.location.href.indexOf("/m/")!==-1){document.location=document.location.pathname.replace("/m","")+"?utm_campaign="+utm_campaign+"&utm_source="+utm_source+"&utm_medium="+utm_medium}}
        else{if(document.location.href.indexOf("/m/")!==-1){document.location=document.location.pathname.replace("/m","")}}}
        else{if(document.location.href.indexOf("/m/")!==-1){document.location=document.location.pathname.replace("/m","")}}}
    </script> 
    <script>
        (function(i,s,o,g,r,a,m){i.GoogleAnalyticsObject=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-67690535-1','auto');ga('send','pageview')
    </script>
</head>
<body id="cont" data-ng-controller='lookBookCtrl' ng-cloak>
    <vivo-header></vivo-header>
    <div class="container m-b-20">
        <section class="exclude m-tb-15">
            <div class="row">
                <div class="col-xs-12 no-pad">
                    <img src="/images/lookbook/lookbook header mobile.png" alt="lookbook header">
                </div>
            </div>
        </section>
        <section class="exclude m-tb-15">
            <div class="row flexi-mom">
                <div data-ng-repeat="t in title" class="col-xs-6 flexi-kid m-tb-5 even-odd-pad-0">
                    <a class="block" data-ng-href="/m/lookbook/{{t.urlslug}}.html" target="_self">
                        <div class="row box-outside-shadow">
                            <div class="col-sm-12 pad-5 bg-white">
                                <h3 class="text-limit exclude pad-tb-10 m-0 t14" title="{{t.title}}">
                                    {{t.title}}
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 no-pad-lr">
                                    <img data-ng-src="/images/lookbook/blogs/{{t.banner_img}}.jpg" alt="{{t.banner_img}}">
                                </div>
                            </div>
                            <div class="row bg-white">
                                <div class="col-xs-6 pad-tb-10 text-left">
                                    {{t.category}}
                                </div>
                                <div class="col-xs-6 text-right pad-tb-10">
                                    {{t.created_at | dateToISO | date:'dd MMMM'}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <vivo-footer></vivo-footer>
    <script src="/js/jquery.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/js/jquery.simplyscroll.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/satellizer.min.js"></script>
    <script src="/js/angular.rangeSlider.js"></script>
    <script src="/js/select.js"></script>
    <script src="/js/toaster.js"></script>
    <script src="/js/angular-google-plus.min.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="/js/notify.min.js"></script>
    <!--For loading list,splist & search items(pagination)-->
    <script src="/js/taggedInfiniteScroll.js"></script>
    <!--END of pagination script-->
    <!--For file upload-->
    <script src="/js/angular-file-upload.min.js"></script>
    <!--End scripts for file upload-->
    <script src="/m-js/modules/vivoCommon.js"></script>
    <script src="/m-js/modules/vivoLookbook.js"></script>
    <script src="/app/data.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!--Script for carousel touch swipe-->
    <script>
        $(document).bind('mobileinit', function() {
            $.mobile.changePage.defaults.changeHash = false;
            $.mobile.hashListeningEnabled = false;
            $.mobile.pushStateEnabled = false;
        });
    </script>
    <script src="/js/jquery.mobile-1.4.5.min.js"></script>
    <!--END of Script for carousel touch swipe-->
    <!--To prevent display of loading text while page loads-->
    <script>
        $(document).ready(function() {
            $(".ui-loader").hide();
        });
    </script>
    <!--END of loading text display prevention-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/device-router.js"></script>
    <!--Full screen product image view js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <!--menu-->
    <script src="/m-js/modernizr.custom.js"></script>
    <script src="/m-js/jquery.dlmenu.js"></script>
    <!--END of menu-->
    <!-- Facebook Pixel Code -->
    <script>
        !function(e,t,n,c,o,a,f){e.fbq||(o=e.fbq=function(){o.callMethod?o.callMethod.apply(o,arguments):o.queue.push(arguments)},e._fbq||(e._fbq=o),o.push=o,o.loaded=!0,o.version="2.0",o.queue=[],(a=t.createElement(n)).async=!0,a.src="https://connect.facebook.net/en_US/fbevents.js",(f=t.getElementsByTagName(n)[0]).parentNode.insertBefore(a,f))}(window,document,"script"),fbq("init","293278664418362"),fbq("track","PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=293278664418362&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->    
    <!--Start of Tawk.to Script-->
    <script>
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function() {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/59198f0664f23d19a89b22bb/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- onesignal start   -->
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(["init", {
            appId: "07f1f127-398a-4956-abf1-3d026ccd94d2",
            autoRegister: true,
            notifyButton: {
                enable: false /* Set to false to hide */
            }
        }]);
    </script>
    <!-- onesignal end   -->    
</body>
</html>