<!--Mobile screen-->
<div class="fixed visible-xs hidden-sm hidden-md" id="topbar">
    <div class="row">
        <div id="dl-menu" class="dl-menuwrapper" style="margin-top: 23px;">
            <a class="dl-trigger">
                <div class="hamburger-icon"></div>
            </a>
            <ul class="dl-menu" id="mobmenu">
                <li>
                    <img class="img-back-for-home exclude m-r-30" src="/images/mobile/header/icons/hamburger/back.png" style="width:7%;">
                    <a href="/m/home" target="_self" class="home-text">
                        Home
                    </a>
                </li>
                <li class="category-menu-li">
                    <a href="#" class="left-category-space category-top-bottom-gap">
                        <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/rings.png">
                    </a>
                    <ul class="dl-submenu">
                        <li>
                            <a href="/m/jewellery/Diamond-Rings.html" target="_self" class="submenu-text">Diamond Rings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Gold-Rings.html" target="_self" class="submenu-text">Gold Rings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/1-Rings.html" target="_self" class="submenu-text">Gemstone Rings</a>
                        </li>

                        <li>
                            <a href="/m/jewellery/Silver-Rings.html" target="_self" class="submenu-text">Silver Rings</a>
                        </li>
                        <li>
                            <a href="/m/search/engagement,rings.html" target="_self" class="submenu-text">Engagement Rings</a>
                        </li>
                        <li>
                            <a href="/m/search/workwear,rings.html" target="_self" class="submenu-text">Office Wear</a>
                        </li>
                        <li>
                            <a href="/m/search/bridal-rings.html" target="_self" class="submenu-text">Bridal Rings</a>
                        </li>
                        <li>
                            <a href="/m/search/cocktail-rings.html" target="_self" class="submenu-text">Cocktail Rings</a>
                        </li>                  
                        <li>
                            <a href="/m/jewellery/All-Rings.html" target="_self" class="submenu-text">All Ring Types</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/less_15000-rings.html" target="_self" class="submenu-text"><b>Less than Rs.15,000</b></a>
                        </li>
                    </ul>
                </li>
                <li class="category-menu-li">
                    <a href="#" class="category-top-bottom-gap">
                        <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/earrings.png">
                    </a>
                    <ul class="dl-submenu">
                        <li>
                            <a href="/m/jewellery/Diamond-Earrings.html" target="_self" class="submenu-text">Diamond Earrings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Gold-Earrings.html" target="_self" class="submenu-text">Gold Earrings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/1-Earrings.html" target="_self" class="submenu-text">Gemstone Earrings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Silver-Earrings.html" target="_self" class="submenu-text">Silver Earrings</a>
                        </li>
                        <li>
                            <a href="/m/search/studs-earrings.html" target="_self" class="submenu-text">Studs</a>
                        </li>
                        <li>
                            <a href="/m/search/drops-earrings.html" target="_self" class="submenu-text">Drops</a>
                        </li>
                        <li>
                            <a href="#/i/search/jhumkas-earrings" target="_self" class="submenu-text">Jhumkas</a>
                        </li>

                        <li>
                            <a href="/m/search/hoops&huggies-earrings.html" target="_self" class="submenu-text">Hoops</a>
                        </li>
                        <li>
                            <a href="/m/search/workwear,earrings.html" target="_self" class="submenu-text">OfficeWear Earrings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/All-Earrings.html" target="_self" class="submenu-text">All Earring Types</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/less_10000-earrings.html" target="_self" class="submenu-text"><b>Less than Rs.10,000</b></a>
                        </li>
                    </ul>
                </li>
                <li class="category-menu-li">
                    <a href="#" class="right-category-space category-top-bottom-gap">
                        <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/pendants.png">
                    </a>
                    <ul class="dl-submenu">
                        <li>
                            <a href="/m/jewellery/Diamond-Pendants.html" target="_self" class="submenu-text">Diamond Pendants</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Gold-Pendants.html" target="_self" class="submenu-text">Gold Pendants</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/1-Pendants.html" target="_self" class="submenu-text">Gemstone Pendants</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Silver-Pendants.html" target="_self" class="submenu-text">Silver Pendants</a>
                        </li>
                        <li>
                            <a href="/m/search/alphabet,pendants.html" target="_self" class="submenu-text">Initials</a>
                        </li>
                        <li>
                            <a href="/m/search/religious-pendants.html" target="_self" class="submenu-text">Religious</a>
                        </li>
                        <li>
                            <a href="/m/search/casual-pendants.html" target="_self" class="submenu-text">CasualWear Pendants</a>
                        </li>                       
                        <li>
                            <a href="/m/jewellery/All-Pendants.html" target="_self" class="submenu-text">All Pendant Types</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/less_10000-pendants.html" target="_self" class="submenu-text"><b>Less than Rs.10,000</b></a>
                        </li>
                    </ul>
                    <li class="category-menu-li">
                        <a href="#" class="left-category-space category-top-bottom-gap pad-l-15">
                            <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/nosepins.png">
                        </a>
                        <ul class="dl-submenu">
                            <li>
                                <a href="/m/jewellery/Diamond-Nosepins.html" target="_self" class="submenu-text">Diamond Nosepins</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/Gold-Nosepins.html" target="_self" class="submenu-text">Gold Nosepins</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/1-NosePins.html" target="_self" class="submenu-text">Gemstone Nosepins</a>
                            </li>
                            <li>
                                <a href="/m/search/studs-nosepins.html" target="_self" class="submenu-text">Studs</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/All-Nosepins.html" target="_self" class="submenu-text">All Nosepin Types</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/less_5000-nosepins.html" target="_self" class="submenu-text"><b>Less than Rs.5,000</b></a>
                            </li>
                            <li>
                                <a href="/m/jewellery/less_10000-nosepins.html" target="_self" class="submenu-text"><b>Less than Rs.10,000</b></a>
                            </li>
                        </ul>
                    </li>
                    <li class="category-menu-li">
                        <a href="/m/jewellery/All-Accessories.html" target="_self" class="category-top-bottom-gap">
                            <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/accessories.png">
                        </a>
                    </li>
                    <li class="category-menu-li">
                        <a href="#" class="right-category-space category-top-bottom-gap">
                            <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/goldcoins.png">
                        </a>
                        <ul class="dl-submenu">
                            <li>
                                <a class="submenu-text"><b>-BY WEIGHT</b></a>
                            </li>
                            <li>
                                <a href="/m/jewellery/weight_lt_1-goldcoins.html" target="_self" class="submenu-text">Less than 1 gram {for gifting}</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/wt_1-goldcoins.html" target="_self" class="submenu-text">1 gram</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/wt_2-goldcoins.html" target="_self" class="submenu-text">2 grams</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/wt_5-goldcoins.html" target="_self" class="submenu-text">5 grams</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/wt_10-goldcoins.html" target="_self" class="submenu-text">10 grams</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/weight_gt_10-goldcoins.html" target="_self" class="submenu-text">More than 10 grams</a>
                            </li>
                            <li>
                                <a class="submenu-text"><b>-BY PURITY</b></a>
                            </li>
                            <li>
                                <a href="/m/jewellery/purity_24_999-goldcoins.html" target="_self" class="submenu-text">24Kt(999) Purity</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/purity_24_995-goldcoins.html" target="_self" class="submenu-text">24Kt(995) Purity</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/purity_22_925-goldcoins.html" target="_self" class="submenu-text">22Kt(925) Purity</a>
                            </li>
                        </ul>
                    </li>
                    <li class="category-menu-li">
                        <a href="#" class="left-category-space category-top-bottom-gap">
                            <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/bangles bracelets.png">
                        </a>
                        <ul class="dl-submenu">
                            <li>
                                <a href="/m/jewellery/diamond-bangles,bracelets.html" target="_self" class="submenu-text">Diamond</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/gold-bangles,bracelets.html" target="_self" class="submenu-text">Gold</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/silver-bangles,bracelets.html" target="_self" class="submenu-text">Silver</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/All-bangles,bracelets.html" target="_self" class="submenu-text">All</a>
                            </li>
                        </ul>
                    </li>
                    <li class="category-menu-li">
                        <a href="#" class="category-top-bottom-gap">
                            <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/tanmaniya mangalsutra.png">
                        </a>
                        <ul class="dl-submenu">
                            <li>
                                <a href="/m/jewellery/All-tanmaniya.html" target="_self" class="submenu-text">Tanmaniya</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/All-mangalsutra.html" target="_self" class="submenu-text">Mangalsutras</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/All-tanmaniya,mangalsutra.html" target="_self" class="submenu-text">All</a>
                            </li>
                        </ul>
                    </li>
                    <li class="category-menu-li margin-bottom-10px">
                        <a href="/m/jewellery/All-Necklaces.html" target="_self" class="right-category-space category-top-bottom-gap">
                            <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/chains necklace.png">
                        </a>
                    </li>
                    <li class="dropdown1">
                        <a href="#" class="b1-b-f1">
                            <div class="row">
                                <div class="col-xs-3 no-pad-lr">
                                    <div class="men-icon"></div>
                                </div>
                                <div class="col-xs-9 no-pad-lr">
                                    <div class="hamburger-menu-text">
                                        For Men
                                        <img src="/images/mobile/header/icons/hamburger/menu dropdown.png" class="men-dropdown-icon exclude">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href="/m/jewellery/gender_male-Pendants.html" target="_self" class="submenu-text">Pendants</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/gender_male-Necklaces.html" target="_self" class="submenu-text">Chains</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/gender_male-accessories.html" target="_self" class="submenu-text">Accessories</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown1">
                        <a href="#" class="b1-b-f1">
                            <div class="row">
                                <div class="col-xs-3 no-pad-lr">
                                    <div class="collection-icon"></div>
                                </div>
                                <div class="col-xs-9 no-pad-lr hamburger-menu-text">
                                    Collections
                                    <img src="/images/mobile/header/icons/hamburger/menu dropdown.png" class="collections-dropdown-icon exclude">
                                </div>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href="/m/search/officewear.html" target="_self" class="submenu-text">Office Wear Collection</a>
                            </li>
                            <li>
                                <a href="/m/search/engagement.html" target="_self" class="submenu-text">Proposal Collection</a>
                            </li>
                            <li>
                                <a href="/m/search/alphabet.html" target="_self" class="submenu-text">Alphabet Collection</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/m/search/alphabet.html" target="_self" class="b1-b-f1">
                            <div class="row">
                                <div class="col-xs-3 no-pad-lr">
                                    <div class="gift-icon"></div>
                                </div>
                                <div class="col-xs-9 no-pad-lr">
                                    <div class="hamburger-menu-text">
                                        Gifting
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/m/brands" target="_self" class="b1-b-f1">
                            <div class="row">
                                <div class="col-xs-3 no-pad-lr">
                                    <div class="shop-by-brands-icon"></div>
                                </div>
                                <div class="col-xs-9 no-pad-lr">
                                    <div class="hamburger-menu-text">
                                        Shop by brands
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/m/lookbook" target="_self" class="b1-b-f1">
                            <div class="row">
                                <div class="col-xs-3 no-pad-lr">
                                    <div class="lookbook-icon"></div>
                                </div>
                                <div class="col-xs-9 no-pad-lr">
                                    <div class="hamburger-menu-text">
                                        Lookbook
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/m/seller-locate" target="_self" class="b1-b-f1">
                            <div class="row">
                                <div class="col-xs-3 pad-r-0 pad-l-20 t25">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-9 no-pad-lr">
                                    <div class="hamburger-menu-text">
                                        LOCATE PARTNER
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown1">
                        <a href="#" class="b1-b-f1">
                            <div class="row">
                                <div class="col-xs-3 no-pad-lr">
                                    <div class="about-vivocarat-icon"></div>
                                </div>
                                <div class="col-xs-9 no-pad-lr hamburger-menu-text">
                                    About VivoCarat
                                    <img src="/images/mobile/header/icons/hamburger/menu dropdown.png" class="about-vivocarat-dropdown-icon exclude">
                                </div>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href="/m/about-us" target="_self" class="submenu-text">VivoCarat Advantage</a>
                            </li>
                            <li>
                                <a href="/m/faq" target="_self" class="submenu-text">FAQ's</a>
                            </li>
                            <li>
                                <a href="/m/faq/Lifetime" target="_self" class="submenu-text">Lifetime Return Policy</a>
                            </li>
                            <li>
                                <a href="/m/faq/Shipping" target="_self" class="submenu-text">Shipping Policy</a>
                            </li>
                            <li>
                                <a href="/m/faq/Payment" target="_self" class="submenu-text">Payment Options</a>
                            </li>
                            <li>
                                <a href="/m/faq/Return" target="_self" class="submenu-text">Return Policy</a>
                            </li>
                            <li>
                                <a href="/m/partner-with-us" target="_self" class="submenu-text">Seller Connect</a>
                            </li>
                            <li>
                                <a href="/m/privacy" target="_self" class="submenu-text">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/m/terms" target="_self" class="submenu-text">Terms Of Use</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/m/account" target="_self" class="b1-b-f1">
                            <div class="row">
                                <div class="col-xs-3 no-pad-lr">
                                    <div class="account-icon"></div>
                                </div>
                                <div class="col-xs-9 no-pad-lr">
                                    <div class="hamburger-menu-text">
                                        Account
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/m/contact-us" target="_self" class="b1-b-f1">
                            <div class="row">
                                <div class="col-xs-3 no-pad-lr">
                                    <div class="contact-icon"></div>
                                </div>
                                <div class="col-xs-9 no-pad-lr">
                                    <div class="hamburger-menu-text">
                                        Contact us
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
            </ul>
        </div>
        <div class="col-xs-6">
            <a href='/m/home' target="_self">
                <div class="vivocarat-logo"></div>
            </a>
        </div>
        <div class="col-xs-1 no-pad-r pad-l-10">
            <a href="tel:+91-916-764-5314">
                <div class="call-icon"></div>
            </a>
        </div>
        <div class="col-xs-2 no-pad text-center m-l-10">
            <a href="/m/checkout" target="_self">
                <img class="exclude w-35pc" data-ng-src="{{cartIcon}}" style="vertical-align: middle;">
                <span data-ng-if="cart.length>0" class="checkout-number">
   <span data-ng-if="cart.length>0" class="white">
         {{cart.length}}
   </span>
                <span data-ng-if="cart.length<1" class="white">
         0
   </span>
                </span>
            </a>
        </div>
        <div class="col-xs-1 no-pad">
            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div class="account-menu-icon"></div>
            </a>
            <ul class="dropdown-menu text-left nav" aria-labelledby="dropdownMenu1">
                <li>
                    <a class="menu-text" href="/m/account" target="_self">
                        <div class="row">
                            <div class="col-xs-3 no-pad">
                                <div class="user-account-icon"></div>
                            </div>
                            <div class="col-xs-9 no-pad">
                                <span>My Account</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="menu-text" href="/m/orders" target="_self">
                        <div class="row">
                            <div class="col-xs-3 no-pad">
                                <div class="user-orders-icon"></div>
                            </div>
                            <div class="col-xs-9 no-pad">
                                <span>My Orders</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a data-ng-if="authenticated" class="menu-text" data-ng-click="logout()">
       Log Out
    </a>
                    <a data-ng-if="!authenticated" class="menu-text" href="/m/login" target="_self">
       Sign In
    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--Tablet Screen-->
<div class="fixed visible-sm visible-md hidden-xs header-height-sm" id="topbar">
    <div class="row">
        <div id="dl-menu-sm" class="dl-menuwrapper">
            <a class="dl-trigger">
                <div class="hamburger-icon-sm"></div>
            </a>
            <ul class="dl-menu" id="mobmenu" style="margin-top: 19px;">
                <li>
                    <img class="img-back-for-home exclude" src="/images/mobile/header/icons/hamburger/back.png" style="width:7%;margin-right: 30px;">
                    <a href="/m/home" target="_self" class="home-text">
                        Home
                    </a>
                </li>
                <li class="category-menu-li">
                    <a href="#" class="left-category-space category-top-bottom-gap">
                        <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/rings.png">
                    </a>
                    <ul class="dl-submenu">
                        <li>
                            <a href="/m/jewellery/All-Rings.html" target="_self" class="submenu-text">All Ring Types</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Diamond-Rings.html" target="_self" class="submenu-text">Diamond Rings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Gold-Rings.html" target="_self" class="submenu-text">Gold Rings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/1-Rings.html" target="_self" class="submenu-text">Gemstone Rings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Silver-Rings.html" target="_self" class="submenu-text">Silver Rings</a>
                        </li>
                        <li>
                            <a href="/m/search/engagement,rings.html" target="_self" class="submenu-text">Engagement Rings</a>
                        </li>
                        <li>
                            <a href="/m/search/workwear,rings.html" target="_self" class="submenu-text">Office Wear</a>
                        </li>
                        <li>
                            <a href="/m/search/bridal-rings.html" target="_self" class="submenu-text">Bridal Rings</a>
                        </li>
                        <li>
                            <a href="/m/search/cocktail-rings.html" target="_self" class="submenu-text">Cocktail Rings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/less_15000-rings.html" target="_self" class="submenu-text"><b>Less than Rs.15,000</b></a>
                        </li>
                    </ul>
                </li>
                <li class="category-menu-li">
                    <a href="#" class="category-top-bottom-gap">
                        <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/earrings.png">
                    </a>
                    <ul class="dl-submenu">
                        <li>
                            <a href="/m/jewellery/All-Earrings.html" target="_self" class="submenu-text">All Earring Types</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Diamond-Earrings.html" target="_self" class="submenu-text">Diamond Earrings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Gold-Earrings.html" target="_self" class="submenu-text">Gold Earrings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/1-Earrings.html" target="_self" class="submenu-text">Gemstone Earrings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Silver-Earrings.html" target="_self" class="submenu-text">Silver Earrings</a>
                        </li>
                        <li>
                            <a href="/m/search/studs-earrings.html" target="_self" class="submenu-text">Studs</a>
                        </li>
                        <li>
                            <a href="/m/search/drops-earrings.html" target="_self" class="submenu-text">Drops</a>
                        </li>
                        <li>
                            <a href="#/i/search/jhumkas-earrings" target="_self" class="submenu-text">Jhumkas</a>
                        </li>
                        <li>
                            <a href="/m/search/hoops&huggies-earrings.html" target="_self" class="submenu-text">Hoops</a>
                        </li>
                        <li>
                            <a href="/m/search/workwear,earrings.html" target="_self" class="submenu-text">OfficeWear Earrings</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/less_10000-earrings.html" target="_self" class="submenu-text"><b>Less than Rs.10,000</b></a>
                        </li>
                    </ul>
                </li>
                <li class="category-menu-li">
                    <a href="#" class="right-category-space category-top-bottom-gap">
                        <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/pendants.png">
                    </a>
                    <ul class="dl-submenu">
                        <li>
                            <a href="/m/jewellery/All-Pendants.html" target="_self" class="submenu-text">All Pendant Types</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Diamond-Pendants.html" target="_self" class="submenu-text">Diamond Pendants</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/Gold-Pendants.html" target="_self" class="submenu-text">Gold Pendants</a>
                        </li>
                        <li>
                            <a href="/m/jewellery/1-Pendants.html" target="_self" class="submenu-text">Gemstone Pendants</a>
                        </li>
                        <li>
                            <li>
                                <a href="/m/jewellery/Silver-Pendants.html" target="_self" class="submenu-text">Silver Pendants</a>
                            </li>
                            <li>
                                <a href="/m/search/alphabet,pendants.html" target="_self" class="submenu-text">Initials</a>
                            </li>
                            <li>
                                <a href="/m/search/religious-pendants.html" target="_self" class="submenu-text">Religious</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/less_10000-pendants.html" target="_self" class="submenu-text"><b>Less than Rs.10,000</b></a>
                            </li>
                            <li>
                                <a href="/m/search/casual-pendants.html" target="_self" class="submenu-text">CasualWear Pendants</a>
                            </li>
                    </ul>
                    </li>
                    <li class="category-menu-li">
                        <a href="#" class="left-category-space category-top-bottom-gap pad-l-15">
                            <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/nosepins.png">
                        </a>
                        <ul class="dl-submenu">
                            <li>
                                <a href="/m/jewellery/All-Nosepins.html" target="_self" class="submenu-text">All Nosepins Types</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/Diamond-Nosepins.html" target="_self" class="submenu-text">Diamond Nosepins</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/Gold-Nosepins.html" target="_self" class="submenu-text">Gold Nosepins</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/1-NosePins.html" target="_self" class="submenu-text">Gemstone Nosepins</a>
                            </li>
                            <li>
                                <a href="/m/search/studs-nosepins.html" target="_self" class="submenu-text">Studs</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/less_5000-nosepins.html" target="_self" class="submenu-text"><b>Less than Rs.5,000</b></a>
                            </li>
                            <li>
                                <a href="/m/jewellery/less_10000-nosepins.html" target="_self" class="submenu-text"><b>Less than Rs.10,000</b></a>
                            </li>
                        </ul>
                    </li>
                    <li class="category-menu-li">
                        <a href="/m/jewellery/All-Accessories.html" target="_self" class="category-top-bottom-gap">
                            <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/accessories.png">
                        </a>
                    </li>
                    <li class="category-menu-li">
                        <a href="#" class="right-category-space category-top-bottom-gap">
                            <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/goldcoins.png">
                        </a>
                        <ul class="dl-submenu">
                            <li>
                                <a class="submenu-text"><b>-BY WEIGHT</b></a>
                            </li>
                            <li>
                                <a href="/m/jewellery/weight_lt_1-goldcoins.html" target="_self" class="submenu-text">Less than 1 gram {for gifting}</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/wt_1-goldcoins.html" target="_self" class="submenu-text">1 gram</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/wt_2-goldcoins.html" target="_self" class="submenu-text">2 grams</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/wt_5-goldcoins.html" target="_self" class="submenu-text">5 grams</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/wt_10-goldcoins.html" target="_self" class="submenu-text">10 grams</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/weight_gt_10-goldcoins.html" target="_self" class="submenu-text">More than 10 grams</a>
                            </li>
                            <li>
                                <a class="submenu-text"><b>-BY PURITY</b></a>
                            </li>
                            <li>
                                <a href="/m/jewellery/purity_24_999-goldcoins.html" target="_self" class="submenu-text">24Kt(999) Purity</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/purity_24_995-goldcoins.html" target="_self" class="submenu-text">24Kt(995) Purity</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/purity_22_925-goldcoins.html" target="_self" class="submenu-text">22Kt(925) Purity</a>
                            </li>
                        </ul>
                    </li>
                    <li class="category-menu-li">
                        <a href="#" class="left-category-space category-top-bottom-gap">
                            <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/bangles bracelets.png">
                        </a>
                        <ul class="dl-submenu">
                            <li>
                                <a href="/m/jewellery/All-bangles,bracelets.html" target="_self" class="submenu-text">All</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/diamond-bangles,bracelets.html" target="_self" class="submenu-text">Diamond</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/gold-bangles,bracelets.html" target="_self" class="submenu-text">Gold</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/silver-bangles,bracelets.html" target="_self" class="submenu-text">Silver</a>
                            </li>
                        </ul>
                    </li>
                    <li class="category-menu-li">
                        <a href="#" class="category-top-bottom-gap">
                            <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/tanmaniya mangalsutra.png">
                        </a>
                        <ul class="dl-submenu">
                            <li>
                                <a href="/m/jewellery/All-tanmaniya,mangalsutra.html" target="_self" class="submenu-text">All</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/All-tanmaniya.html" target="_self" class="submenu-text">Tanmaniya</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/All-mangalsutra.html" target="_self" class="submenu-text">Mangalsutras</a>
                            </li>
                        </ul>
                    </li>
                    <li class="category-menu-li margin-bottom-10px">
                        <a href="/m/jewellery/All-Necklaces.html" target="_self" class="right-category-space category-top-bottom-gap">
                            <img class="img-responsive image-scale box-outside-shadow exclude" src="/images/mobile/header/categories/chains necklace.png">
                        </a>
                    </li>
                    <li class="dropdown1">
                        <a href="#" class="b1-b-f1">
                            <div class="row">
                                <div class="col-sm-3 no-pad-lr">
                                    <div class="men-icon"></div>
                                </div>
                                <div class="col-sm-9 no-pad-lr hamburger-menu-text">
                                    For Men
                                    <img src="/images/mobile/header/icons/hamburger/menu dropdown.png" class="men-dropdown-icon exclude">
                                </div>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href="/m/jewellery/gender_male-Pendants.html" target="_self" class="submenu-text">Pendants</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/gender_male-Necklaces.html" target="_self" class="submenu-text">Chains</a>
                            </li>
                            <li>
                                <a href="/m/jewellery/gender_male-accessories.html" target="_self" class="submenu-text">Accessories</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown1">
                        <a href="#" class="b1-b-f1">
                            <div class="row">
                                <div class="col-sm-3 no-pad-lr">
                                    <div class="collection-icon"></div>
                                </div>
                                <div class="col-sm-9 no-pad-lr hamburger-menu-text">
                                    Collections
                                    <img src="/images/mobile/header/icons/hamburger/menu dropdown.png" class="collections-dropdown-icon exclude">
                                </div>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href="/m/search/officewear.html" target="_self" class="submenu-text">Office Wear Collection</a>
                            </li>
                            <li>
                                <a href="/m/search/engagement.html" target="_self" class="submenu-text">Proposal Collection</a>
                            </li>
                            <li>
                                <a href="/m/search/alphabet.html" target="_self" class="submenu-text">Alphabet Collection</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/m/search/alphabet.html" target="_self" class="b1-b-f1">
                            <div class="row">
                                <div class="col-sm-3 no-pad-lr">
                                    <div class="gift-icon"></div>
                                </div>
                                <div class="col-sm-9 no-pad-lr hamburger-menu-text">
                                    Gifting
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/m/brands" target="_self" class="b1-b-f1">
                            <div class="row">
                                <div class="col-sm-3 no-pad-lr">
                                    <div class="shop-by-brands-icon"></div>
                                </div>
                                <div class="col-sm-9 no-pad-lr">
                                    <div class="hamburger-menu-text">
                                        Shop by brands
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/m/lookbook" target="_self" class="b1-b-f1">
                            <div class="row">
                                <div class="col-xs-3 no-pad-lr">
                                    <div class="lookbook-icon"></div>
                                </div>
                                <div class="col-xs-9 no-pad-lr">
                                    <div class="hamburger-menu-text">
                                        Lookbook
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/m/seller-locate" target="_self" class="b1-b-f1">
                            <div class="row">
                                <div class="col-xs-3 pad-r-0 pad-l-20 t25">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-9 no-pad-lr">
                                    <div class="hamburger-menu-text">
                                        LOCATE PARTNER
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown1">
                        <a href="#" class="b1-b-f1">
                            <div class="row">
                                <div class="col-sm-3 no-pad-lr">
                                    <div class="about-vivocarat-icon"></div>
                                </div>
                                <div class="col-sm-9 no-pad-lr hamburger-menu-text">
                                    About VivoCarat
                                    <img src="/images/mobile/header/icons/hamburger/menu dropdown.png" class="about-vivocarat-dropdown-icon exclude">
                                </div>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href="/m/about-us" target="_self" class="submenu-text">VivoCarat Advantage</a>
                            </li>
                            <li>
                                <a href="/m/faq" target="_self" class="submenu-text">FAQ's</a>
                            </li>
                            <li>
                                <a href="/m/faq/Lifetime" target="_self" class="submenu-text">Lifetime Return Policy</a>
                            </li>
                            <li>
                                <a href="/m/faq/Shipping" target="_self" class="submenu-text">Shipping Policy</a>
                            </li>
                            <li>
                                <a href="/m/faq/Payment" target="_self" class="submenu-text">Payment Options</a>
                            </li>
                            <li>
                                <a href="/m/faq/Return" target="_self" class="submenu-text">Return Policy</a>
                            </li>
                            <li>
                                <a href="/m/partner-with-us" target="_self" class="submenu-text">Seller Connect</a>
                            </li>
                            <li>
                                <a href="/m/privacy" target="_self" class="submenu-text">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/m/terms" target="_self" class="submenu-text">Terms Of Use</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/m/account" target="_self" class="b1-b-f1">
                            <div class="row">
                                <div class="col-sm-3 no-pad-lr">
                                    <div class="account-icon"></div>
                                </div>
                                <div class="col-sm-9 no-pad-lr">
                                    <div class="hamburger-menu-text">
                                        Account
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/m/contact-us" target="_self" class="b1-b-f1">
                            <div class="row">
                                <div class="col-sm-3 no-pad-lr">
                                    <div class="contact-icon"></div>
                                </div>
                                <div class="col-sm-9 no-pad-lr">
                                    <div class="hamburger-menu-text">
                                        Contact us
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
            </ul>
        </div>
        <div class="col-sm-6 col-sm-offset-1 text-center no-pad-l">
            <a href='/m/home' target="_self">
                <div class="vivocarat-logo-sm"></div>
            </a>
        </div>
        <div class="col-sm-1 no-pad">
            <a href="tel:+91-916-764-5314">
                <div class="call-icon-sm"></div>
            </a>
        </div>
        <div class="col-sm-2 no-pad text-center">
            <a href="/m/checkout" target="_self">
                <img class="exclude" data-ng-src="{{cartIcon}}">
                <span data-ng-if="cart.length>0" class="checkout-number">
   <span data-ng-if="cart.length>0" class="white">
         {{cart.length}}
   </span>
                <span data-ng-if="cart.length<1" class="white">
         0
   </span>
                </span>
            </a>
        </div>
        <div class="col-sm-1 no-pad">
            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div class="account-menu-icon-sm"></div>
            </a>
            <ul class="dropdown-menu account-menu-sm text-left nav" aria-labelledby="dropdownMenu1">
                <li>
                    <a class="menu-text" href="/m/account" target="_self">
                        <div class="row">
                            <div class="col-xs-3 no-pad">
                                <div class="user-account-icon"></div>
                            </div>
                            <div class="col-xs-9 no-pad">
                                <span>My Account</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="menu-text" href="/m/orders" target="_self">
                        <div class="row">
                            <div class="col-xs-3 no-pad">
                                <div class="user-orders-icon"></div>
                            </div>
                            <div class="col-xs-9 no-pad">
                                <span>My Orders</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a data-ng-if="authenticated" class="menu-text" data-ng-click="logout()">
                       Log Out
                    </a>
                    <a data-ng-if="!authenticated" class="menu-text" href="/m/login" target="_self">
                       Sign In
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="swipe-stripe"></div>
<script>
    $(function() {
        $('#dl-menu').dlmenu({
            animationClasses: {
                classin: 'dl-animate-in-2',
                classout: 'dl-animate-out-2'
            }
        });
        $('#dl-menu-sm').dlmenu({
            animationClasses: {
                classin: 'dl-animate-in-2',
                classout: 'dl-animate-out-2'
            }
        });
        $('li.dropdown1').click(function() {
            $('li.dropdown1').not(this).find('ul').hide();
            $(this).find('ul').toggle();
        });
        $("#swipe-stripe").on("swiperight", function() {
            $("ul.dl-menu").addClass('dl-menuopen dl-menu-toggle').on(this.transEndEventName, function() {
                $(this).removeClass('dl-menu-toggle');
            });
            $(".dl-trigger").addClass('dl-active');
            $('body').addClass("no-scroll");
        });
        $("ul.dl-menu").on("swipeleft", function() {
            $(this).removeClass('dl-menuopen');
            $(this).addClass('dl-menu-toggle');
            $(".dl-trigger").removeClass('dl-active');
            $('body').removeClass("no-scroll");
        });
        $('.img-back-for-home').click(function() {
            $("ul.dl-menu").removeClass('dl-menuopen');
            $("ul.dl-menu").addClass('dl-menu-toggle');
            $(".dl-trigger").removeClass('dl-active');
            $('body').removeClass("no-scroll");
        });
    });
</script>