<div class="row text-center filter-sort-postion">
    <div class="col-xs-6 filter-button" data-ng-click="isFilter=true">
        Filter
    </div>
    <div class="col-xs-6 sort-button" data-ng-click="openSortXs()">
        Sort
    </div>
</div>
<!--FOR XS-->
<div class="fixed sort-menu-position" id="sortxs">
    <div class="row text-center">
        <div class="col-xs-4 normal-text bold vivocarat-theme-colour" data-ng-click="selectedFilter=''">
            Popularity
        </div>
        <div class="col-xs-4 normal-text bold vivocarat-theme-colour" data-ng-click="selectedFilter='Price H to L'">
            Price HL<span class="mobarrow">&#8593;</span>
        </div>
        <div class="col-xs-4  normal-text bold vivocarat-theme-colour" data-ng-click="selectedFilter='Price L to H'">
            Price LH<span class="mobarrow">&#8595;</span>
        </div>
    </div>
</div>
<div data-ng-show="isFilter" style="overflow-y:hidden;">
    <div class="row filter-menu-position">
        <div class="col-xs-12" data-ng-click="isFilter=true"></div>
    </div>
    <div class="tabs-left">
        <ul class="nav nav-tabs col-xs-5 filter-menu-background">
            <li class="active wide">
                <a data-target="#a" data-toggle="tab" class="extra-pad">
                    Jewellers 
                   <span class="menu-count" data-ng-if="j_count>0" style="margin-left: 25px;">             {{j_count}}
                   </span>
                </a>
            </li>
            <li class="wide">
                <a data-target="#b" data-toggle="tab" class="extra-pad">
                    Metal
                   <span data-ng-if="m_count>0" class="menu-count" style="margin-left:55px;">               {{m_count}}
                   </span>
                </a>
            </li>
            <li class="wide">
                <a data-target="#c" data-toggle="tab" class="extra-pad">
                    Metal Purity
                   <span data-ng-if="p_count>0" class="menu-count" style="margin-left:10px;">
                      {{p_count}}
                   </span>
                </a>
            </li>
            <li class="wide">
                <a data-target="#f" data-toggle="tab" class="extra-pad">
                    Ocassion
                   <span data-ng-if="o_count>0" class="menu-count" style="margin-left: 30px;">
                       {{o_count}}
                   </span>
                </a>
            </li>
            <li class="wide">
                <a data-target="#p" data-toggle="tab" class="extra-pad">
                    Price
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="a">
                <ul class="list-group col-xs-7 no-pad-lr pad-b-10">
                    <li data-ng-repeat="j in alljewellers" class="list-group-item right-left-pad">
                        <label for='{{j.jvalue}}' class="disabler w-full">
              <input name="checkboxGroup" id='{{j.jid}}' value='{{j.jvalue}}' type="checkbox" style="width: 20%;vertical-align: middle;margin-top: -3px;" data-ng-model="j.jid" data-ng-click='onCompleteTodo(j)'> &nbsp;&nbsp;{{j.jname}}
          </label>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="b">
                <ul class="list-group col-xs-7 no-pad-lr">
                    <li class="list-group-item right-left-pad">
                        <label for="checkbox5" class="disabler w-full">  
        <input name="checkboxGroup" id="checkbox5" ng-click="updateMetal($event)" data-ng-model="isGold" type="checkbox" style="width: 20%;vertical-align: middle;margin-top: -3px;"> &nbsp;&nbsp;Yellow Gold
        </label>
                    </li>
                    <li class="list-group-item right-left-pad">
                        <label for="checkbox6" class="disabler w-full">
        <input name="checkboxGroup" id="checkbox6" ng-click="updateMetal($event)" data-ng-model="isWhiteGold" type="checkbox" style="width: 20%;vertical-align: middle;margin-top: -3px;"> &nbsp;&nbsp;White Gold
        </label>
                    </li>
                    <li class="list-group-item right-left-pad">
                        <label for="checkbox7" class="disabler w-full">
        <input name="checkboxGroup" id="checkbox7" ng-click="updateMetal($event)" data-ng-model="isRoseGold" type="checkbox" style="width: 20%;vertical-align: middle;margin-top: -3px;"> &nbsp;&nbsp;Rose Gold
        </label>
                    </li>
                    <li class="list-group-item right-left-pad">
                        <label for="checkbox8" class="disabler w-full">
        <input name="checkboxGroup" id="checkbox8" ng-click="updateMetal($event)" data-ng-model="isSilver" type="checkbox" style="width: 20%;vertical-align: middle;margin-top: -3px;"> &nbsp;&nbsp;Silver
        </label>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="c">
                <ul class="list-group col-xs-7 no-pad-lr">
                    <label for="checkbox9" class="disabler w-full">
    <li class="list-group-item right-left-pad">
     <input name="checkboxGroup" id="checkbox9" ng-click="updatePurity($event)" data-ng-model="is22" type="checkbox" style="width: 20%;vertical-align: middle;margin-top: -3px;"> &nbsp;&nbsp;22 KT
    </li>
   </label>
                    <label for="checkbox10" class="disabler w-full">
    <li class="list-group-item right-left-pad">
     <input name="checkboxGroup" id="checkbox10" ng-click="updatePurity($event)" data-ng-model="is18" type="checkbox" style="width: 20%;vertical-align: middle;margin-top: -3px;"> &nbsp;&nbsp;18 KT
    </li>
   </label>
                    <label for="checkbox11" class="disabler w-full">
    <li class="list-group-item right-left-pad">
     <input name="checkboxGroup" id="checkbox11" ng-click="updatePurity($event)" data-ng-model="is14" type="checkbox" style="width: 20%;vertical-align: middle;margin-top: -3px;"> &nbsp;&nbsp;14 KT
    </li>
   </label>
                    <label for="checkbox12" class="disabler w-full">
    <li class="list-group-item right-left-pad">
     <input name="checkboxGroup" id="checkbox12" ng-click="updatePurity($event)" data-ng-model="isOther" type="checkbox" style="width: 20%;vertical-align: middle;margin-top: -3px;"> &nbsp;&nbsp;Other
    </li>
   </label>
                </ul>
            </div>
            <div class="tab-pane" id="f">
                <ul class="list-group col-xs-7 no-pad-lr">
                    <label for="checkbox13" class="disabler w-full">
    <li class="list-group-item right-left-pad">
     <input name="checkboxGroup" id="checkbox13" ng-click="updateOccassion($event)" data-ng-model="isCasual" type="checkbox" style="width: 20%;vertical-align: middle;margin-top: -3px;"> &nbsp;&nbsp;Casual
    </li>
   </label>
                    <label for="checkbox14" class="disabler w-full">
    <li class="list-group-item right-left-pad">
     <input name="checkboxGroup" id="checkbox14" ng-click="updateOccassion($event)" data-ng-model="isFashion" type="checkbox" style="width: 20%;vertical-align: middle;margin-top: -3px;"> &nbsp;&nbsp;Fashion
    </li>
   </label>
                    <label for="checkbox15" class="disabler w-full">
    <li class="list-group-item right-left-pad">
     <input name="checkboxGroup" id="checkbox15" ng-click="updateOccassion($event)" data-ng-model="isBridal" type="checkbox" style="width: 20%;vertical-align: middle;margin-top: -3px;"> &nbsp;&nbsp;Bridal
    </li>
   </label>
                </ul>
            </div>
            <div class="tab-pane" id="p">
                <ul class="list-group col-xs-7 no-pad-lr pad-t-15">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="normal-text grey-colour exclude">Price(in Rs.)</p>
                            <div range-slider min="0" max="500000" model-min="demo1.min" model-max="demo1.max">
                            </div>
                        </div>
                    </div>
                    <div class="row pad-b-10">
                        <div class="col-xs-12">
                            <span class="normal-text grey-colour">From</span>
                            <input class="w-full padding-left-5px" placeholder="Min" type="number" ng-model="demo1.min">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="normal-text grey-colour">to</span>
                            <input class="w-full padding-left-5px" type="number" placeholder="Max" ng-model="demo1.max">
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <!-- /tab-content -->
    </div>
    <div class="row text-center apply-clear-filter-position">
        <div class="row">
            <div class="col-xs-3 m-b-10">
                <a data-ng-click="isFilter=false">
                    <img src="/images/mobile/list/icons/cross.png" class="img-responsive" style="width:50%;" alt="close filter">
                </a>
            </div>
        </div>
        <div class="col-xs-6 apply-filter-button" data-ng-click="filter()">
            Apply filter
        </div>
        <div class="col-xs-6 clear-filter-button" data-ng-click="clearFilter()">
            Clear Filter
        </div>
    </div>
</div>