<div class="well" data-ng-hide="isLoaded"> Loading</div>
<div class="top-box1" data-ng-mouseover="closeFilter()" data-ng-show="isLoaded">
    <div class="row well" data-ng-show="resultList.length<1">
        No products found
    </div>
    <div class="row flexi-mom">
        <div data-ng-show="isGrid" data-ng-repeat="p in resultList track by $index | orderBy:predicate:reverse" class="col-xs-6 no-pad vivo-box-padding flexi-kid">
            <div class="relative">
                <div class="inner_content clearfix box-outside-shadow">
                    <img data-ng-click="addToWatchlist(p)" class="product-card-wishlist pointer exclude pull-right" src="/images/list/icons/wishlist.png" title="Wishlist" alt="">
                    
                    <div class="tag">
                        <img data-ng-if="p.ready_to_ship==1" src="/images/list/icons/ready-to-ship.png" alt="ready to ship">
                    </div>
                    <a href="/m/product/{{p.urlslug}}.html" target="_self">
                        <img class="img-responsive  w-full" src="/images/list/icons/image filler.jpg" actual-image="/images/products-v2/{{p.VC_SKU}}-t.jpg" alt="{{p.title}}">
                    </a>
                    <div class="row pad-lr-10 pad-t-15 pad-b-10 bg-pink2">
                        <div class="row">
                            <div class="col-xs-12 t17 theme-text-special pad-lr-0 bold r601-t20 r701-t22">
                                RS. {{p.price_after_discount | INR}}/-
                            </div>
                        </div>
                        <div class="row pad-b-10">
                            <div class="row t12" data-ng-hide=" p.discount==0">
                                <div class="col-xs-6 col-sm-5 pad-lr-0">
                                     <span class="m-r-30 line-through r601-t15 r701-t17">
                                        RS. {{p.price_before_discount | INR}}
                                    </span>
                                </div>
                                <div class="col-xs-6 pad-lr-0 r320-tright">
                                     <span class="bg-blue2 pad-2-3 r601-t15 r701-t17 white">{{p.discount}}% OFF</span>
                                </div>                               
                            </div>
                            <div class="row" data-ng-show="p.discount==0">
                                <div style="padding-bottom:17px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id='loadmore' tagged-infinite-scroll='loadMore()'></div>
<div class="clear"></div>